/*iphone5*/
* {margin: 0;padding: 0;}
/*body{min-width:324px;}*/
i,a,span{display:block;}    /* 不设置此项，header中的span就掉下去了？？？？*/
html{font-size:31.25vw;} 
img{display:block;}
li {list-style: none;}
a {text-decoration: none;}
/*body{height:100%;} 给内容区设置固定高度不会出现滚动条，设置100%，可以实现高度自适应，但内容区也需要设置百分比*/

header {
	width: 100%;
	height: 35px/*0.35rem;*/;
   /* height:10%;*/
	background: #006699;
	text-align: center;
    position:fixed;
    top:0;
   z-index: 9999;  
}
header span {
	font-size: 16px/*0.16rem*/; 
	color: white;
	line-height: 35px/*0.35rem*/;
	height: 35px;/*0.35rem*/
}

header a:first-of-type {
	position: absolute;
	left: 12px;
	top:0;
	color: white;
	height:35px;
	line-height: 35px;
	font-size: 16px;
}

.search{width:95%;height:35px;display:flex;justify-content:space-around;border:1px solid gray;border-radius:6px;margin:50px auto 10px auto;overflow:auto;}
.search a{font-size:16px;width:20%;height:35px;line-height:35px;color:white;background:darkblue;text-align:center;}
.search input{border:none;width:80%;height:35px;padding-left:5px;}

.order a{font-size:12px;color:black;display:flex;height:30px;line-height:30px;}
.order{display:flex;justify-content:space-around;height:30px;width:100%;background:gainsboro;}
/* id！！！！！
当点击当前排序按钮时，给当前排序按钮添加id，设置它的样式为橘色，此处不用class是因为会受上面order a设置颜色的影响，
class不具有唯一性，不能找到当前a设置样式，所以需要添加id，具有唯一性，虽然上面已经设置过颜色，但是特指
*/
.order .selected{color:orange;}
#prompt{height:35px;background:black;color:white;font-size:16px;position:absolute;bottom:48px;margin-left:50%;
	display:none;}
	
#product{display:flex;justify-content:space-around;flex-wrap:wrap;margin-left:10px;}
#product .details{width:48%;border-radius:1px;font-size:0;text-align:center;  /*  解决该父级元素中的子元素,span和input之间的默认间距问题*/
box-shadow:1px 1px 3px #e9e9e9,1px -1px 3px #e9e9e9,-1px 1px 3px #e9e9e9,-1px -1px 3px #e9e9e9;
padding-right:7px;box-sizing:border-box;margin-bottom:7px;} /*设置下和右的间距*/
#product .details img {width:100%;height:1.53rem;margin-bottom:8px;}
#product .details span:first-of-type{color:#99999d;font-size:12px;margin-bottom:16px;}
#product .details span:nth-of-type(2){color:red;font-size:12px;display:inline;margin-right:8px;}
#product .details span:nth-of-type(3){color:#cccccc;font-size:11px;text-decoration:line-through;display:inline;}
#product .details input{background:#006699;color:white;font-size:12px;width:82px;height:32px;margin-bottom:16px;
margin-top:10px;border:1px solid #cccccc;border-radius:3px;}






footer{width:100%;height:48px;background:#006699;display:flex; position:fixed;bottom:0;justify-content:space-around;
/*保证.home里面的元素垂直居中，需要给父父元素也添加弹性盒子*/} 
footer a{width:25%;height:100%;text-align:center;margin-top:8px;}
footer a span{font-size:12px;color:white;}
footer .now{color:orange;}
 /*
 弹性盒子方法
footer ul{width:100%;display:flex;justify-content:space-around;}
footer ul li{height:100%;width:25%;}      
footer ul .home span{font-size:12px;color:white;}
footer ul li .home{display:flex;flex-direction:column; height: 100% ;justify-content:center;align-items:center;} 
*/
/*
浮动方法
footer ul{width:100%;}
footer ul li{width:25%;float:left;height: 100%;} 
footer ul li .home{height:100%;text-align:center;margin-top:10px;}
不用弹性盒子，行内块不兼容，只能用margin-top,设置行高等于容器高也不可以
*/


