
/*iphone5*/

* {margin: 0;padding: 0;}
/*body{min-width:324px;}*/
i,a,span{display:block;}    /* 不设置此项，header中的span就掉下去了？？？？*/
html{font-size:31.25vw;} 
img{display:block;}
li {list-style: none;}
a {text-decoration: none;}
/*body{height:100%;} 给内容区设置固定高度不会出现滚动条，设置100%，可以实现高度自适应，但内容区也需要设置百分比*/

header {
	width: 100%;
	height: 40px/*0.35rem;*/;
   /* height:10%;*/
	background: #006699;
	text-align: center;
    position:fixed;
    top:0;
   z-index: 9999;  
}
header span {
	font-size: 16px/*0.16rem*/; 
	color: white;
	line-height: 40px/*0.35rem*/;
	height: 40px;/*0.35rem*/
}

header a:first-of-type {
	position: absolute;
	left: 12px;
	top:0;
	color: white;
	height:40px;
	line-height: 40px;
	font-size: 16px;
}

form{margin:45px 0;width:100%;text-align:center;font-size:0;}
form input,form textarea{width:90%;font-size:16px;color:gainsboro;padding-left:10px;}
form input{border:1px solid gainsboro;border-radius:8px;
    height:40px;
}

form button{width:90%;height:36px;background:blue;border:none;border-radius:8px;margin-top:20px;color:white;font-size:18px;}
form textarea{border:1px solid gainsboro;border-radius:8px;padding-top:8px;font-family:"微软雅黑";height:120px;}
#name,#postcode,#city{width:90%;margin-top:5px;}


footer{width:100%;height:48px;background:#006699;display:flex; position:fixed;bottom:0;justify-content:space-around;
/*保证.home里面的元素垂直居中，需要给父父元素也添加弹性盒子*/} 
footer a{width:25%;height:100%;text-align:center;margin-top:8px;}
footer a span{font-size:12px;color:white;}
footer .now{color:orange;}
 /*
 弹性盒子方法
footer ul{width:100%;display:flex;justify-content:space-around;}
footer ul li{height:100%;width:25%;}      
footer ul .home span{font-size:12px;color:white;}
footer ul li .home{display:flex;flex-direction:column; height: 100% ;justify-content:center;align-items:center;} 
*/
/*
浮动方法
footer ul{width:100%;}
footer ul li{width:25%;float:left;height: 100%;} 
footer ul li .home{height:100%;text-align:center;margin-top:10px;}
不用弹性盒子，行内块不兼容，只能用margin-top,设置行高等于容器高也不可以
*/


