/*iphone5*/

* {margin: 0;padding: 0;}
/*body{min-width:324px;}*/
i,a,span{display:block;}    /* 不设置此项，header中的span就掉下去了？？？？*/
html{font-size:31.25vw;} 
img{display:block;}
li {list-style: none;}
a {text-decoration: none;}
/*body{height:100%;} 给内容区设置固定高度不会出现滚动条，设置100%，可以实现高度自适应，但内容区也需要设置百分比*/

header {
	width: 100%;
	height: 35px/*0.35rem;*/;
   /* height:10%;*/
	background: #006699;
	text-align: center;
    position:fixed;
    top:0;
   z-index: 9999;  
}
header span {
	font-size: 16px/*0.16rem*/; 
	color: white;
	line-height: 35px/*0.35rem*/;
	height: 35px;/*0.35rem*/
}

header a:first-of-type {
	position: absolute;
	left: 12px;
	top:0;
	color: white;
	height:35px;
	line-height: 35px;
	font-size: 16px;
}
#reg{font-size:16px;}
form input{width:90%;height:35px;border:none;}
#login{background:skyblue;border-radius:4px;margin-top:5px;font-size:18px;color:white;font-weight:800;}
form{text-align:center;font-size:0;margin-top:50px;}
#name,#password{border:1px solid gainsboro;border-radius:4px;margin-bottom:10px;padding-left:5px;font-size:16px;}
#free{width:90%;text-align:right;margin-top:20px;margin-right:5px;}
/*设置了宽度100%后，不能再设置margin/padding-left/right*/
/*a是行内元素，不可以定义宽高，需要转块才可以
text-align只对行内元素和行内块元素有作用，设置在父元素上，但是块元素不可以；
所以此处给a转块定义宽高和给它的父元素设置text-align不能同时进行*/
/*兼容pc端和移动端，样式布局要灵活，不写固定px单位，必须设置用%比*/
#word{position:relative;}
#img{position:absolute;right:10%;top:15%;}

#promptLogin{width:150px;height:35px;background:black;color:white;text-align:center;line-height:35px;
	font-size:16px;border-radius:5px;display:inline-block;}
	/*text-align:center;只对文本和行内块，行内块元素起作用*/
#prompt{width:100%;height:45px;position:fixed;bottom:48px;text-align:center;display:none;}
	/* .now{background:orange;} */
	


footer{width:100%;height:48px;background:#006699;display:flex; position:fixed;bottom:0;justify-content:space-around;
/*保证.home里面的元素垂直居中，需要给父父元素也添加弹性盒子*/} 
footer a{width:25%;height:100%;text-align:center;margin-top:8px;}
footer a span{font-size:12px;color:white;}
footer .now{color:orange;}
 /*
 弹性盒子方法
footer ul{width:100%;display:flex;justify-content:space-around;}
footer ul li{height:100%;width:25%;}      
footer ul .home span{font-size:12px;color:white;}
footer ul li .home{display:flex;flex-direction:column; height: 100% ;justify-content:center;align-items:center;} 
*/
/*
浮动方法
footer ul{width:100%;}
footer ul li{width:25%;float:left;height: 100%;} 
footer ul li .home{height:100%;text-align:center;margin-top:10px;}
不用弹性盒子，行内块不兼容，只能用margin-top,设置行高等于容器高也不可以
*/



