*{margin:0;padding:0}
a{text-decoration:none;}
li{list-style:none;}
html,body{width:100%;height:100%;}
#aside{height:100%;width:180px;background:#222d32;}

#index{width:180px;height:50px;background:#367fa9;text-align:center;}
#index a{text-decoration:none;font-size:20px;font-weight:800;color:white;height:50px;line-height:50px;}

#left{width:180px;text-align:center;}
/*span是行内元素，转成行内块元素才能定义宽高*/
#user{height:100px;width:180px;margin-top:20px;display:inline-block;}

/*把方形图片转成正圆，设置高度值的一半的圆角*/
#user img{width:60px;height:60px;border-radius:30px;margin-right:5px;}
#user span,.menu span{font-size:14px;color:white;}
#user span{display:inline-block;}
/* 行内块元素设置垂直居中,img是行内块，span是行内需要转 */
#user img,#user span{vertical-align:middle;}
.menu{margin-top:15px;margin-left:-20px;cursor:pointer;}
.menu .detail{margin-left:5px;}
.category ul li{font-size:12px;color:white;margin-top:10px;}
#category-detail{display:none;}

/*后台管理系统自适应两栏设置方法，左侧固定宽度，右侧自适应，高度都为100%；*/
#all{display:flex;height:100%;width:100%;}
#content-title{flex:1;height:50px;background:#3c8dbc;position:relative;line-height:50px;}
#side{position:absolute;left:8px;}
#quit{position:absolute;right:8px;}

#content-menu{height:40px;background:#f5f5f5;margin-top:70px;width:95%;margin-left:auto;margin-right:auto;font-size:14px;
border-radius:8px;line-height:40px;padding-left:15px;}

#content-menu .manage{color:blue;}

#table{height:400px;width:100%;}
#histogram{width:45%;height:380px;margin-top:40px;margin-left:10px;float:left;}
#line{width:45%;height:380px;float:left;margin-top:40px;margin-left:30px;}

/* 模态框样式的设置 */
.modal-body p{color:red;}
#modalContent{width:300px;margin:0 auto;margin-top:50px;}

/* 进度条 */
#progressBar{position:fixed;top:0;height:5px;width:100%;}
#first a,#second a{text-decoration:none;color:white;}


#addCategory{color:black;width:80px;height:30px;border-radius:5px;text-decoration:none;border:1px solid gainsboro;display:block;
line-height:30px;text-align:center;margin-top:25px;
/*!!!!!!设置该标签与上面的标签左对齐，上面的宽度设置的是百分比，左右居中；
下面的标签宽度设置的固定px值，如果左间距设置固定值的话会随浏览器的尺寸大小发生变化
所以需要设置左间距为(100%-上面标签的宽度)/2 =>(100-95)/2
*/
margin-left:2.5%;}

#table{margin-top:20px;width:95%;height:300px;margin-left:2.5%;text-align:center;}
/* 设置分页插件的右边距 */
#page{padding-right:2.5%;}